<main class="container">
    <div class="banner-container">
        <img src="resources/images/banner_home.jpg" alt="Banner" class="banner-image">
    </div>
    <section class="categories-section">
        <h2>Categorías</h2>
        <div class="categories-list">
            <div class="category-item">
                <img src="resources/images/breakfast_category.jpg" alt="Desayuno" class="category-image">
                <p>Desayuno</p>
            </div>
            <div class="category-item">
                <img src="resources/images/lunch_category.jpg" alt="Almuerzo" class="category-image">
                <p>Almuerzo</p>
            </div>
            <div class="category-item">
                <img src="resources/images/dinner_category.jpg" alt="Cena" class="category-image">
                <p>Cena</p>
            </div>
            <div class="category-item">
                <img src="resources/images/dessert_category.jpg" alt="Postres" class="category-image">
                <p>Postres</p>
            </div>
        </div>
    </section>
</main>
